<template>
    <nav class="fixed w-full z-40 bottom-0 footer">
      <div class="w-full container flex flex-wrap items-center justify-between px-5 rounded-t-xl h-22 bg-white py-6">
        <button id="nav-toggle" class="w-full h-10 p-1 text-white text-sm bg-gradient-to-r from-green-450 to-blue-550 hover:text-white focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out rounded-xl">
          Kostenlos Registrieren
        </button>
      </div>
    </nav>
</template>

<style>
.footer div {
  box-shadow: 0px -1px 3px #00000033;
}

</style>

