<template>
    <!--Nav-->
    <nav id="header" class="fixed w-full z-40 top-0 text-white">
      <div class="h-1 bg-gradient-to-r from-green-450 to-blue-550"></div>
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2 rounded-b-xl shadow-md h-16 bg-white ">
        <div class="pl-4 flex items-center">
        </div>
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-button text-sm hover:text-green-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            Login
          </button>
        </div>
      </div>
    </nav>
</template>
