<template>
  <div class="tab1">
    <section class="bg-white border-b">
      <div class="container max-w-5xl mx-auto mb-24">
        <div class="flex flex-wrap">
          <div class="subtitle w-full p-6">
            <h3 class="text-3xl text-primary text-center font-bold leading-none mb-3">
              Drei einfache Schritte <br> zu deinem neuen Job
            </h3>
          </div>
        </div>
        <div class="w-full step-one">
          <div class="step-content relative">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="circle absolute">
              <ellipse cy="50" cx="50" rx="50" ry="50" style="fill:#F7FAFC;" />
            </svg>
            <img class="relative" src="~/assets/img/undraw_Profile_data_re_v81r.svg"/>
            <h2 class="absolute">1.</h2>
            <span class="absolute">Erstellen dein Lebenslauf</span>
          </div>
        </div>
        <div class="step-two relative">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" viewBox="0 0 358 364" class="absolute z-10 w-full h-full">
            <defs>
              <linearGradient id="linear-gradient" y1="0.732" x2="1" y2="0.727" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e6fffa"/>
                <stop offset="1" stop-color="#ebf4ff"/>
              </linearGradient>
            </defs>
            <path d="M773.772,364.464c64.18-.522,116.534,34.023,156.121,33.465,52.848.32,107.291-29.408,170.562-29.428,26.85.793,31.017,4.334,31.017,4.334V684.949s-60.062,29.285-115.9,29.714-65.913-5.146-116.707-3.913-125.39,17.708-125.39,17.708Z" transform="translate(-773.472 -364.458)" fill="url(#linear-gradient)"/>
          </svg>
          <div class="step-content relative z-20">
            <img class="" src="~/assets/img/undraw_task_31wc.svg"/>
            <h2 class="absolute">2.</h2>
            <span class="absolute">Erstellen dein Lebenslauf</span>
          </div>
        </div>
        <div class="step-three w-full relative mb-24">
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="circle absolute">
            <ellipse cy="50" cx="50" rx="50" ry="50" style="fill:#F7FAFC;" />
          </svg>
          <div class="step-content relative z-20">
            <img class="" src="~/assets/img/undraw_personal_file_222m.svg"/>
            <h2 class="absolute">3.</h2>
            <span class="absolute">Mit nur einem Klick bewerben</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style>
.tab1 .subtitle {
  font-size: 21px;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
}

.tab1 .step-content {
  color: #718096;
}

.tab1 .step-content h2 {
  font-size: 130px;
  line-height: 156px;
}

.tab1 .step-content span {
  font-size: 16px;
  line-height: 19px;
}

.tab1 .step-one {
  margin-bottom: -28px;
  padding-right: 40px;
}

.tab1 .step-one img {
  padding-left: 100px;
  padding-bottom: 120px;
}

.tab1 .step-one h2 {
  left: 10px;
  bottom: 24px;
}

.tab1 .step-one span {
  left: 137px;
  right: 0px;
  bottom: 50px;
}

.tab1 .step-one .circle {
  left: -34px;
  bottom: 0px;
  width: 208px;
  height: 208px;
}

.tab1 .step-two {
  margin-top: -35px;
  margin-bottom: -52px;
  padding: 27px 16px 62px 35px;
}

.tab1 .step-two svg {
  top: 0px;
  left: 0px;
  padding-bottom: 8px;
}

.tab1 .step-two img {
  padding: 156px 52px 0px 78px;
}

.tab1 .step-two h2 {
  left: 0px;
  top: 0px;
}

.tab1 .step-two span {
  top: 112px;
  left: 127px;
  right: 0px;
}

.tab1 .step-three {
  padding: 0px 7px 0px 54px;
}

.tab1 .step-three .circle {
  top: 0px;
  left: -54px;
  width: 304px;
  height: 303px;
}

.tab1 .step-three img {
  padding: 116px 0px 0px 18px;
}

.tab1 .step-three h2 {
  left: 0px;
  top: 0px;
}

.tab1 .step-three span {
  top: 69px;
  left: 127px;
  right: 29px;
}

</style>
