<template>
  <div id="tabbar-container" class="overflow-x-scroll">
    <div id="tabbar" class="flex items-center">
      <button
        class="text-button bg-transparent border-l border-t border-b hover:bg-green-30 hover:text-white active:bg-green-300 font-bold rounded-l outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
        type="button"
        v-bind:class="{ active: tabIndex == 0 }"
        @click="clickTab(0)">
        Arbeitnehmer
      </button>
      <button
        class="text-button bg-transparent border border-solid hover:bg-green-30 hover:text-white active:bg-green-300 font-bold text-sm outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
        type="button"
        v-bind:class="{ active: tabIndex == 1 }"
        @click="clickTab(1)">
        Arbeitgeber
      </button>
      <button
        class="text-button bg-transparent border-t border-b border-r hover:bg-green-30 hover:text-white active:bg-green-300 font-bold text-sm rounded-r outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
        type="button"
        v-bind:class="{ active: tabIndex == 2 }"
        @click="clickTab(2)">
        Temporärbüro
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabIndex : 0
    }
  },
  methods: {
    clickTab(index) {
      this.tabIndex = index
      this.$emit('changetab', index)
      
      var container = document.querySelector("#tabbar-container");
      if (this.tabIndex == 0) {
        container.scrollLeft = 0
      } else if (this.tabIndex == 1) {
        container.scrollLeft = (container.scrollWidth - container.clientWidth) / 2
      } else {
        container.scrollLeft = container.scrollWidth - container.clientWidth
      }
    }
  }
}
</script>

<style>

#tabbar-container::-webkit-scrollbar {
  display: none;
}

#tabbar-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#tabbar {
  padding: 30px 20px;
  width: fit-content;

}

#tabbar button {
  width: 160px;
  height: 40px;
  border-color: #CBD5E0;
}

#tabbar button.active {
  border-color: #81E6D9;
  background-color: #81E6D9;
  color: white;
}

</style>
