@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: 'Lato';
      font-weight: 400;
      src: url('~/fonts/Lato/Lato-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: url('~/fonts/Lato/Lato-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-weight: 600;
    src: url('~/fonts/Lato/Lato-Semibold.ttf') format('truetype');
  }
}

@import './fonts';
@import './assets/img'
