<template>
  <div>
    <Header/>
    <Banner/>
    <TabBar v-on:changetab="changeTab"/>
    <Tab1 v-if="tabIndex==0"/>
    <Tab2 v-if="tabIndex==1"/>
    <Tab3 v-if="tabIndex==2"/>
    <Footer />
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabIndex : 0,
    }
  },
  methods: {
    changeTab(index) {
      this.tabIndex = index
    }
  }
}
</script>
